
<div class="col-md-6 col-md-offset-3">
    <app-alert></app-alert>
    <h2>Regisztráció</h2>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastname.valid }">
            <label for="lastname">Vezetéknév</label>
            <input type="text" 
                    class="form-control"
                    id="lastname"
                    name="lastname" 
                    [(ngModel)]="regdata.lastname" 
                    #lastname="ngModel" required />
            <div *ngIf="f.submitted && !lastname.valid" class="help-block">Kötelező megadni egy vezetéknevet!</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstname.valid }">
            <label for="firstname">Keresztnév</label>
            <input type="text" 
                    class="form-control"
                    id="firstname"
                    name="firstname" 
                    [(ngModel)]="regdata.firstname" 
                    #firstname="ngModel" required />
            <div *ngIf="f.submitted && !firstname.valid" class="help-block">Kötelező megadni egy vezetéknevet!</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">Felhasználónév</label>
            <input type="text" 
                    class="form-control"
                    id="username"
                    name="username" 
                    [(ngModel)]="regdata.username" 
                    #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Kötelező megadni egy felhasználónevet!</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="email">E-mail cím</label>
            <input type="text" 
                    class="form-control"
                    id="email" 
                    name="email" 
                    [(ngModel)]="regdata.email" 
                    #email="ngModel" required />
            <small id="emailHelp" class="form-text text-muted">Nem adjuk ki az e-mail címet senkinek.</small>
            <div *ngIf="f.submitted && !username.valid" class="help-block">Kötelező megadni egy e-mail címet!</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Jelszó</label>
            <input type="password" 
                    class="form-control"
                    id="password" 
                    name="password" 
                    [(ngModel)]="regdata.password" 
                    #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Kötelező megadni egy jelszót!</div>
        </div>
        <div  class="form-group" [ngClass]="{ 'has-error': f.submitted && !homedojoselect.valid }">
            <label for="dojoselect">Melyik dojohoz tartozol?</label>
            <select class="form-control" 
                    name="homedojoselect" 
                    [(ngModel)]="regdata.homedojoID" 
                    #homedojoselect="ngModel" required>
            <option  *ngFor="let dojo  of dojos" [value]="dojo.ID">{{dojo.name  }}</option>
            </select>
            <div *ngIf="f.submitted && !homedojoselect.valid" class="help-block">Kötelező választani egy dojot!</div>
        </div>
        <div  class="form-group" [ngClass]="{ 'has-error': f.submitted && !rankselect.valid }">
                <label for="rankselect">Aikido fokozatod?</label>
                <select class="form-control" 
                        name="rankselect" 
                        [(ngModel)]="regdata.rankID" 
                        #rankselect  required>
                <option  *ngFor="let rank  of ranks" [value]="rank.ID">{{rank.name}}</option>
                </select>
                <div *ngIf="f.submitted && !rankselect.valid" class="help-block">Kötelező választani egy fokozatot!</div>
            </div>
 


            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !bddp.valid }">
                <label for="birthdaypicker">Születési idő:</label>
                <input type="text" 
               name="birthdaypicker" 
               #bddp="bsDatepicker"
               [bsConfig]="bdbsConfig"
               class="form-control" 
               placeholder="Születési idő"
               [(ngModel)]="birthday" 
               bsDatepicker required />
                <div *ngIf="f.submitted && !bddp.valid" class="help-block">Kötelező megadni a születési időt!</div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !psdp.valid }" >
                <label for="startdatepicker">Aikido gyakorlás kezdete:</label>
                <input type="text" 
               name="startdatepicker" 
               #psdp="bsDatepicker"
               [bsConfig]="psbsConfig"
               class="form-control" 
               placeholder="Aikido gyakorlás kezdete" 
               [(ngModel)]="praticestartdate"
               bsDatepicker required />
                <div *ngIf="f.submitted && !psdp.valid" class="help-block">Kötelező megadni hogy mikor kezdtél gyakorolni!</div>
            </div>


        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Regisztrálok</button>
            
            <a [routerLink]="['/login']" class="btn btn-link">Vissza</a>
        </div>
    </form>
</div>

