<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>



  <div class="modal-body">
      <app-alert></app-alert>
      <form name="locationform" (ngSubmit)="f.form.valid && addlocation()" #f="ngForm" novalidate>
        
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !locname.valid }">
              <label for="locname">Helyszín megnevezése</label>
              <input type="text" class="form-control" name="locname" [(ngModel)]="newlocation.name" #locname="ngModel" required />
              <div *ngIf="f.submitted && !locname.valid" class="help-block">Kötelező megadni egy elnevezést!</div>
          </div>
          
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !building.valid }">
              <label for="building">Épület</label>
              <input type="text" class="form-control" name="building" [(ngModel)]="newlocation.building" #locbuilding="ngModel" required />
              <div *ngIf="f.submitted && !building.valid" class="help-block">Kötelező megadni egy épületnevet!</div>
          </div>
  
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !address.valid }">
              <label for="address">Cím</label>
              <input type="text" class="form-control" name="address" [(ngModel)]="newlocation.address" #locaddress="ngModel" required />
              <div *ngIf="f.submitted && !address.valid" class="help-block">Kötelező megadni egy címet!</div>
          </div>
  
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !city.valid }">
              <label for="city">Város</label>
              <input type="text" class="form-control" name="city" [(ngModel)]="newlocation.city" #loccity="ngModel" required />
              <div *ngIf="f.submitted && !city.valid" class="help-block">Kötelező megadni egy várost!</div>
          </div>
  
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !zipcode.valid }">
              <label for="zipcode">Irányítószám</label>
              <input type="text" class="form-control" name="zipcode" [(ngModel)]="newlocation.zipcode" #loczipcode="ngModel" required />
              <div *ngIf="f.submitted && !zipcode.valid" class="help-block">Kötelező megadni egy irányítószámot!</div>
          </div>
  
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lon.valid }">
              <label for="lon">Földrajzi hosszúság</label>
              <input type="number" class="form-control" name="lon" [(ngModel)]="newlocation.lon" #loclon="ngModel" step="0.00005"required />
              <div *ngIf="f.submitted && !lon.valid" class="help-block">Kötelező megadni a földrajzi hosszúságot!</div>
          </div>
  
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lat.valid }">
              <label for="lat">Földrajzi szélesség</label>
              <input type="number" class="form-control" name="lat" [(ngModel)]="newlocation.lat" #loclat="ngModel"  step="0.00005" required />
              <div *ngIf="f.submitted && !lat.valid" class="help-block">Kötelező megadni földrajzi szélességet!</div>
          </div>
  
  
          <div  class="form-group" [ngClass]="{ 'has-error': f.submitted && !loctypeselect.valid }">
              <label for="loctypeselect">Helyszín típusa?</label>
              <select class="form-control" 
                      name="loctypeselect" 
                      [(ngModel)]="newlocation.locationtype" 
                      #loctypeselect required>
              <option  *ngFor="let loctype  of loctypes" [value]="loctype">{{loctype}}</option>
              </select>
              <div *ngIf="f.submitted && !loctypeselect.valid" class="help-block">Kötelező választani egy helyszíntípust!</div>
          </div>
   
      </form>


  </div>


  <div class="modal-footer">
    <button  [disabled] = "!f.form.valid" class="btn btn-primary" (click)="addlocation()">Hozzáadás</button>
    <button type="button" class="btn btn-default" (click)="closeModal()">Bezár</button>
  </div>
