
<div class="col-md-6 col-md-offset-3">
  <app-alert></app-alert>
<h3>Jelszóváltoztatás</h3>
<form name="form" (ngSubmit)="f.form.valid && changePassword()" #f="ngForm" novalidate>
  
  <div class="form-group" [ngClass]="{ 'has-error': !password.pristine && !password.valid }">
    <label for="password">Jelenlegi jelszó</label>
    <input type="password"
            class="form-control" 
            name="password"
            id="password"
            [(ngModel)]="submitData.password" 
            #password="ngModel" required />
    <div *ngIf="!password.pristine && !password.valid" class="help-block">Kötelező megadni egy jelszót!</div>
</div>

<div class="form-group" [ngClass]="{ 'has-error': !newpass.pristine && !newpass.valid }">
  <label for="newpass">Új jelszó</label>
  <input type="password"
        class="form-control" 
        name="newpass"
        id="newpass"
        [(ngModel)]="submitData.newpass" 
        #newpass="ngModel" required />
  <div *ngIf="!newpass.pristine && !newpass.valid" class="help-block">Kötelező megadni egy új jelszót!</div>
</div>

<div class="form-group" [ngClass]="{ 'has-error': !newpassagain.pristine && !newpassagain.valid }">
    <label for="newpassagain">Új jelszó - megerősítés</label>
    <input type="password"
           class="form-control" 
           name="newpassagain"
           id="newpassagain"
           [(ngModel)]="confirmNewPass" 
           #newpassagain="ngModel" required />
    <div *ngIf="!newpassagain.pristine && !newpassagain.valid" class="help-block">Kötelező megerősíteni az új jelszót!</div>
</div>

<div class="form-group">
    <button class="btn btn-primary"
            [disabled]="!f.form.valid || !passwordsMatch()">Jelszóváltoztatás</button>
</div>
</form>
</div>
