<div class="row">
  <p>{{assistantID | json}}</p>
  <div class="col-md-8 col-md-offset-2">
    <app-alert></app-alert>
    <dual-list [source]="sempais" 
              [(destination)]="assistants"
              [key]="key" 
              [display]="display"
              [format]="format"
              height="265px"></dual-list>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-5 keep-top">
    <button type="button" 
            class="btn btn-primary"
            (click)="upload()">Kinevezés/Visszavonás rögzítése</button>
  </div>
</div>
